<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright (C) Posten Norge AS
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.digipost.android"
          android:versionCode="18"
          android:versionName="2.6.3">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18"/>

    <application
        android:name="DigipostApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:vmSafeMode="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Digipost">

        <activity
                android:name="no.digipost.android.MainActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:scheme="https"
                        android:host="www.digipost.no"
                        android:pathPrefix="/app/#/"/>
            </intent-filter>
        </activity>
        <activity
                android:name="no.digipost.android.gui.LoginActivity"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity
                android:name="no.digipost.android.gui.ScreenlockPreferenceActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name="no.digipost.android.gui.MainContentActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.WebLoginActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.content.HtmlAndReceiptActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.content.MuPDFActivity"/>
        <activity android:name="no.digipost.android.gui.content.UnsupportedDocumentFormatActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.content.UploadActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.content.SettingsActivity"
                  android:configChanges="orientation|screenSize"/>
        <activity
                android:name="no.digipost.android.gui.content.NotificationSettingsActivity"
                android:windowSoftInputMode="stateHidden"
                android:configChanges="orientation|screenSize"/>
        <activity android:name="no.digipost.android.gui.content.PersonalSettingsActivity"
                  android:configChanges="orientation|screenSize"/>
    </application>
</manifest>