<?xml version="1.0" encoding="utf-8"?><!--
/**
 * Copyright (C) Posten Norge AS
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.digipost.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:name="no.digipost.android.DigipostApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Digipost"
        android:vmSafeMode="true">

        <activity
            android:name="no.digipost.android.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.digipost.no"
                    android:pathPrefix="/app/#/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.digipost.android.gui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/DigipostBlackStatusbar" />
        <activity
            android:name="no.digipost.android.gui.ScreenlockPreferenceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="no.digipost.android.gui.MainContentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="no.digipost.android.gui.WebLoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="no.digipost.android.gui.metadata.ExternalLinkWebview"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="no.digipost.android.gui.content.HtmlAndReceiptActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="no.digipost.android.gui.content.ImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".gui.content.MuPDFActivity" />
        <activity
            android:name="no.digipost.android.gui.content.UnsupportedDocumentFormatActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="no.digipost.android.gui.content.UploadActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="no.digipost.android.gui.content.NotificationSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="no.digipost.android.gui.invoice.InvoiceBankActivity" />
        <activity android:name="no.digipost.android.gui.invoice.InvoiceOptionsActivity" />
        <activity android:name="no.digipost.android.gui.invoice.InvoiceOverviewActivity" />
        <activity android:name="no.digipost.android.gui.fingerprint.FingerprintActivity" />
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="no.digipost.android.gcm.ListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="no.digipost.android.gcm.RegistrationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>